{% extends 'base.html' %}
{% load static %}
{% block title %} 앨범 목록 보기 {% endblock %}

{% block extra-style %}
    <style>
        .thumbnail {border:3px solid #CCC;}
    </style>
{% endblock %}

{% block content %}
    {% for item in object_list %}
        <div class="mt-5">
            <a class="h2" href="{% url 'photo:album_detail' item.id %}">{{item.name}}</a>
            <span class="font-italic h5">{{item.description}}</span>
        </div>

         <hr style="margin:0 0 20px 0;">

        <div class="row">
            {% for momo in item.album_set.all|slice:":5"%}
                <div class="mt-5">
                    <div class="thumbnail">
                        <a href="{{photo.get_absoulte_url}}">
                            <img src="{{momo.image.thumb_url}}" style="width:50%;">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
        <src image = " url("{% static'img/lion.jpg' %}") "/>
{% endblock %}