{% extends "base.html" %}

{% block title %}post_archive_year.html{% endblock %}

{% block content %}
<h2>제목 : {{object.title}}</h2>
<p>
    {% if object.get_previous %}
        <a href="{{object.get_previous.get_absolute_url}}">
            &laquo;--   {{object.get_previous}}
        </a>
    {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if object.get_next %}
        <a href="{{object.get_next.get_absolute_url}}">
            {{object.get_next}} --&raquo;
        </a>
    {% endif %}
</p>
    <p>{{object.modify_dt|date:"j F Y"}}</p>
<br>
<div>{{object.content|linebreaks}}</div>

<br>
<div>
    <b>Tags</b><i class="'fas fa-tag"></i>
    {# 커스텀 태그를 사용하기 위하여 해당 모듈을 로딩한다. #}
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
        <a href="{% url 'blog:tagged_object_list' tag.name %}">
            {{tag.name}}
        </a>
    {% endfor %}
</div>

{% endblock %}
